@media (max-width:979px)
	.source .label
		height 45px

@media (max-width:768px)
	.container
		width 90%
	.grid
		margin-left:0;
	.menu
		float none
		margin-left 0
		li
			width:33%
			text-align center
		.menuitem
			margin-left:0
			padding 0
	.col
		width:100%
		margin:0
	.source .legend
		font-size 1.3em
	.header
		text-align center
		.subtitle
			font-size 1.1em
		.title
			font-size 5em

@media (max-width:640px)
	.source
		.label
			height auto
			text-align center
			font-size 1.1em
		.option
			display block
			margin 0 auto 5px auto

@media (max-width:480px)
	p
		font-size 1.2em
		line-height 1.3
	h4, h5
		line-height 1.2
	h4
		font-size 1.3em
	.box
		padding 15px
	.header .title
		font-size 4em
	.menu .menuitem
		font-size 0.9em
		font-weight normal
		line-height 1.3
	.header
		.title
			font-size 3em
		.subtitle
			font-size 1em
	.source
		.legend
			font-size 1.1em
			margin-bottom 15px
		.label
			height 55px
			padding-top 10px
			line-height 1.1
		.button
			width:100%
			padding 10px 0

@media (max-width:360px)
	.header
		padding 20px 0
	h3
		margin-top 0.5em
	.source .label
		line-height 1em
		font-size 0.9em
		height 50px