@font-face
  font-family 'Ostrich Sans'
  src url('/fonts/ostrich-sans/regular.eot')
  src local('?'), url('/fonts/ostrich-sans/regular.woff') format('woff'), url('/fonts/ostrich-sans/regular.ttf') format('truetype'), url('/fonts/ostrich-sans/regular.svg') format('svg')

@font-face
  font-family 'Ostrich Sans Bold'
  src url('/fonts/ostrich-sans/bold.eot')
  src local('?'), url('/fonts/ostrich-sans/bold.woff') format('woff'), url('/fonts/ostrich-sans/bold.ttf') format('truetype'), url('/fonts/ostrich-sans/bold.svg') format('svg')

monofont()
  font-family Consolas, Monaco, Menlo, 'Lucida Console', monospace

html
  font-size 100.01%

body
  font-size 80%
  font-family 'Helvetica Neue', Helvetica, Arial, sans-serif

h1, h2
  font-weight normal

h3, h4, h5
  font-weight bold

h3
  margin 1.5em 0 1em 0
  font-size 1.5em
  text-transform uppercase

h4
  font-size 1.3em
  text-transform uppercase
  margin-top 0

h4, h5
  display inline
  line-height 2

p, .equation
  margin-bottom 2em

p
  line-height 1.6
  font-size 1.4em
  text-align justify

.equation
  font-style, italic

pre, code
  monofont()

a
  text-decoration none
  cursor pointer
  color lighten(blue, 8)

a:hover
  color blue-bright

ul, ol
  margin-left 1em

ul
  list-style circle inside

ol
  margin-top 0.5em

ul.useful-links
  font-size 1.2em
  margin-left 0
    
.useful-links li
  margin-top 20px
  list-style-type disc

.box
  background-color #e8e8e8
  padding 20px