.menu
  margin 0
  margin-left -10px
  list-style none
  clearfix()
  float:right
  li
    float left
    margin 0
    color white
  .menuitem
    display block
    padding 12px
    margin-left 10px
    font-size 1.1em
    font-weight bold
    color context-light
    text-transform uppercase
    &.current, &:hover
      color blue-highlight

.nav
  background-color darkest-bg
  clearfix()
  padding-top:10px;