body
  background url(/images/bg_light.png) repeat fixed
  @media all and (-webkit-min-device-pixel-ratio: 1.5)
    background-image url(/images/bg_light@2x.png)
  color #333

.body
  display block
  padding 0 40px
  clearfix()
