green = #0f7200
green-dull = #1e5615
green-shadow = #0a4b00
green-bright = #40b82e
green-highlight = #60b852

blue = #005a41
blue-dull = #114436
blue-shadow = #003b2b
blue-bright = #2bac88
blue-highlight = #4dac92

tan = #8a3200
tan-dull = #68361a
tan-shadow = #5a2100
tan-bright = #c46631
tan-highlight = #c47f58

pink = #86000a
pink-dull = #65191e
pink-shadow = #580006
pink-bright = #c2303b
pink-highlight = #c2575f

context-light = rgba(255, 255, 255, 0.7)
context-dark = rgba(0, 0, 0, 0.3)
