textarea
  display block
  width 90%
  padding 2%
  monofont()
  font-size 0.9em

fieldset
  padding 0 1.4em 1.4em 1.4em
  margin 0 0 1.5em 0
  border none

legend
  margin-top -0.2em
  margin-bottom 1em

input.option
  vertical-align middle
