textarea
  display block
  padding 5px

fieldset
  padding 0 1.4em 1.4em 1.4em
  margin 0 0 1.5em 0
  border none

legend
  margin-top -0.2em
  margin-bottom 1em

input.option
  float left

label
  display block
