clearfix()
  zoom 1
  &:before, &:after
    content '.'
    display block
    height: 0
    overflow hidden
  &:after
    clear both

invisible()
  height 0
  line-height 0
  font-size 0
  color transparent
  overflow hidden

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments
