clearfix()
  zoom 1
  &:before, &:after
    content '.'
    display block
    height: 0
    overflow hidden
  &:after
    clear both

invisible()
  height 0
  line-height 0
  font-size 0
  color transparent
  overflow hidden

vertical-gradient(from, to)
  background-image -webkit-gradient(linear, left top, left bottom, color-stop(0, from), color-stop(1, to))
  background-image -webkit-linear-gradient(top, from 0%, to 100%)
  background-image -moz-linear-gradient(top, from 0%, to 100%)
  background-image linear-gradient(top, from 0%, to 100%)

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments
