primary = #0f7200
primary-darker = #1e5615
primary-darkest = #0a4b00
primary-lighter = #40b82e
primary-lightest = #60b852
secondary = #005a41
secondary-darker = #114436
secondary-darkest = #003b2b
secondary-lighter = #2bac88
secondary-lightest = #4dac92
tertiary = #507f00
tertiary-darker = #456018
tertiary-darkest = #355300
tertiary-lighter = #8abf2f
tertiary-lightest = #98bf55
