html, body, header, footer, nav, ol, ul, li,
div, span, section, h1, h2, h3, h4, h5, p, img,
a, pre, code, fieldset, form, label, legend
  margin 0
  padding 0
  border 0
  font-size 100%
  font inherit
  vertical-align baseline

body
  line-height 1
