@font-face
  font-family 'Ostrich Sans'
  src url('/fonts/ostrich-sans/regular.eot')
  src local('?'), url('/fonts/ostrich-sans/regular.woff') format('woff'), url('/fonts/ostrich-sans/regular.ttf') format('truetype'), url('/fonts/ostrich-sans/regular.svg') format('svg')

@font-face
  font-family 'Ostrich Sans Bold'
  src url('/fonts/ostrich-sans/bold.eot')
  src local('?'), url('/fonts/ostrich-sans/bold.woff') format('woff'), url('/fonts/ostrich-sans/bold.ttf') format('truetype'), url('/fonts/ostrich-sans/bold.svg') format('svg')

monofont()
  font-family Consolas, Monaco, Menlo, 'Lucida Console', monospace
  
html
  font-size 100.01%

body
  font-size 75%
  font-family 'Helvetica Neue', Arial, Helvetica, sans-serif

h1, h2
  font-weight normal

h3, h4
  margin 1em 0 0.5em 0
  font-weight bold
  line-height 1

h3
  font-size 1.5em

h4
  font-size 1.2em

p
  max-width 34em
  margin 1em 0
  line-height 1.4
  font-size 1.4em
  text-align justify

strong
  font-weight bold

em
  font-style italic

pre, code
  monofont()

a
  text-decoration none
  cursor pointer
  color lighten(blue, 8)

a:hover
  color blue-bright

ul
  list-style circle inside

ol
  margin-left 24px
  list-style none

li
  margin 0.7em 0
