monofont()
  font-family Consolas, Monaco, Menlo, 'Lucida Console', monospace
  
html
  font-size 100.01%

body
  font-size 75%
  font-family 'Helvetica Neue', Arial, Helvetica, sans-serif

h1, h2, h3, h4
  font-weight normal

h1
  font-size 3em
  line-height 1
  margin-bottom 0.5em

h2
  font-size 2em
  margin-bottom 0.75em

h3
  font-size 1.5em
  line-height 1
  margin-bottom 1em

h4
  font-size 1.2em
  line-height 1.25
  margin-bottom 1.25em

p
  margin 0 0 1.5em

blockquote
  margin 1.5em
  font-style italic

strong
  font-weight bold

em
  font-style italic

pre, code
  monofont()

a
  text-decoration none

