<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <title>{{title}}</title>

        <meta charset="utf-8" />
        <meta name="description" content="{{description}}" />
        <meta name="viewport" content="initial-scale=0.5, user-scalable=no" />

        <link rel="stylesheet" type="text/css" href="/style/site.css" />
    </head>

    <body>
        {{>header}}

        {{>menu}}

        <div class="body">
            {{{yield}}}
        </div>

        {{>footer}}

        {{>script}}
    </body>
</html>
