<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <title>{{title}}</title>

        <meta charset="utf-8" />
        <meta name="description" content="{{description}}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="/style/site.css" />
    </head>

    <!--[if IE 7]><body class="ie7"><![endif]-->
    <!--[if IE 8]><body class="ie8"><![endif]-->
    <!--[if IE 9]><body class="ie9"><![endif]-->
    <!--[if !IE]>-->
    <body>
    <!--<![endif]-->
        {{>menu}}

        {{>header}}

        <div class="body container">
            {{{yield}}}
        </div>

        {{>footer}}

        {{>script}}
    </body>
</html>
