.header
  padding 20px 40px
  // Palette 1, schemes 1 & 2
  //border-bottom 8px solid blue-bright
  // Palette 1, scheme 1
  //background-color green-shadow
  // Palette 2, scheme 1
  background-color pink-shadow
  .title
    // Palette 1, scheme 1
    //color green-bright
    // Palette 1, scheme 2
    //color green-bright
    // Palette 2, scheme 1
    color pink-bright
    & .emphasis
      // Palette 1, scheme 1
      //color green-highlight
      // Palette 1, scheme 2
      //color green
      // Palette 2, scheme 1
      color pink-highlight
  .subtitle
    // Palette 1, scheme 1
    //color green-bright
    // Palette 1, scheme 2
    //color green-bright
    // Palette 2, scheme 1
    color pink-bright
