.header
  padding 20px 0 10px 40px
  border-bottom 6px solid blue-bright
  background url(/images/bg_dark.png) repeat fixed
  @media all and (-webkit-min-device-pixel-ratio: 1.5)
    background-image url(/images/bg_dark@2x.png)
  .title
    font-family 'Ostrich Sans'
    font-size 7em
    letter-spacing 0.1em
    color green-bright
    & .emphasis
      font-family 'Ostrich Sans Bold'
      font-size 0.9em
      color pink-bright
  .subtitle
    font-size 1.8em
    color blue-highlight
