.menu
  padding 0 0 0 40px
  list-style none
  clearfix()
  li
    float left
    margin 0
  .menuitem
    hover-padding = 2px
    display block
    padding 12px
    margin 0 10px (hover-padding * 2) 0
    border-radius(0 0 8px 8px)
    font-size 1.2em
    background-color blue
    vertical-gradient(blue, blue-bright)
    color white
    color context-light
    text-shadow context-dark -1px -1px
    box-shadow(1px 1px context-dark)
    &.current
      background-color green
      vertical-gradient(green, green-bright)
    &.active:hover
      margin 0 10px 0 0
      padding (@padding + hover-padding) @padding
