.source
  .heading
    invisible()
  .code
    display block
    width 99%
    min-width 590px
    max-width 1140px
    height 440px
    margin 20px 0
    padding 0.3%
    border 1px solid #999
    monofont()
    font-size 1em
  legend
    invisible()
  .option
    vertical-align middle
