.source
  .heading
    invisible()
  //form
  //  width 100%
  .code
    display block
    max-width 1140px
    width 99%
    height 440px
    margin 20px 0
    padding 0.3%
    border 1px solid #999
    monofont()
    font-size 1em
  legend
    invisible()
  .option
    vertical-align middle
  .button
    float right
