<h3 class="heading">Source code</h3>

<form method="post">
    <textarea
     name="source"
     placeholder="Enter JavaScript code here"
     required="true"
     class="code"
    >{{source}}</textarea>

    <fieldset name="options" class="options">
        <legend>Options</legend>
        {{#options}}
        <input
         id="options-{{name}}"
         name="options"
         value="{{name}}"
         type="checkbox"
         {{#set}}
         checked="true"
         {{/set}}
         class="option"
        />
        <label for="options-{{name}}">
            {{description}}
        </label>
        <br />
        {{/options}}
    </fieldset>

    <input value="Report" type="submit" class="button" />
</form>
