<h3>Source code</h3>

<form action="#results" method="post" id="source-form">
    <textarea
     name="source"
     placeholder="Enter JavaScript code here"
     required="required"
     class="code"
    >{{source}}</textarea>

    <fieldset name="options" class="options">
        <div class="legend">
            <legend>Optional sources of cyclomatic complexity:</legend>
        </div>
        {{#options}}
          <label for="options-{{name}}" class="label">
            <input
                 id="options-{{name}}"
                 name="options"
                 value="{{name}}"
                 type="checkbox"
                 {{#set}}
                 checked="checked"
                 {{/set}}
                 class="option"
                 />
            {{{description}}}
        </label>
        {{/options}}
    </fieldset>

    <input value="Analyse" type="submit" class="button" />
</form>
